body {
    background: url(images/binding_dark.png) repeat;
}

.entry-date {
    font-size: 1em;
}

.entry-value {
    margin-top: 0.8em;
    font-size: 1.2em;
}

#header-title {
    color: white;
}

.tag {
    color: #2b7bb9;
}

.task {
    color: #E1B041;
}

.gray {
    color: #BABABA;
}

[hidden] {
    display: none !important;
}